<!DOCTYPE html>
<head>
    <title>Rest</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div id="top-of-page">
        <h1>Welcome to Restaurant for only tacos</h1>
        <h2>Google App Engine</h2>
    </div>

    <div id="middle-of-page">
        <p id="time"> (time) </p>
        <img class="bubble-flag" src="static/Thailand.png" atl="Thailand Flag">
        <img class="bubble-flag" src="static/South-Africa.png" atl="South-Africa Flag">
        <img class="bubble-flag" src="static/Pakistan.png" atl="Pakistan Flag">
        <img class="bubble-flag" src="static/Spain.png" atl="Spain Flag">
        <img class="bubble-flag" src="static/Mexico.png" atl="Mexicon Flag">
        <img class="bubble-flag" src="static/Venezuela.png" atl="Venezuelan Flag">
        <img class="bubble-flag" src="static/Saudi-Arabia.png" atl="Saudi-Arabia Flag">
        <img class="bubble-flag" src="static/USA.png" atl="USA Flag">

        <hr>
        
        <h3>You can order tacos</h3>
        <img src="https://img1.cookinglight.timeinc.net/sites/default/files/styles/medium_2x/public/1519665233/slow-cooker-carnitas-tacos-ck-1804p38.jpg" alt="tacos" width="25%">
        <p>Click here to <a href="/tacos">order tacos</a>, You ask for a TACO, we choose the filling for you!</p>
        <p>Check out <a href="/fillings" target="_blank">fillings</a>.  This link will open in a new tab.</p>
        
        <hr>
        
        <h3>You can also ask for your check</h3>
        <img src="https://www.numisbids.com/sales/hosted/aureo/329/image03148.jpg" alt="bolivares bills"  width="25%">
        <p>Click here to <a href="/bill">request for your check</a>.  We are happy you pay for your classmate's bill!</p>
    </div>

    <div id="bottom-of-page">
        <span>Created by Marianela Crissman</span>
        <span>CSSIX NEIU 2019</span>

    </div>
    <script src="static/script.js"></script>
</body>